body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9ecef;
  color: #495057;
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
}

.sidebar {
  width: 25%;
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.main-content {
  width: 75%;
  background-color: #fff;
  padding: 30px;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #212529;
  border-bottom: 3px solid #007bff;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.sidebar h2 {
  color: #fff;
  border-bottom: 2px solid #6c757d;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.sidebar h3 {
  color: #adb5bd;
  margin-bottom: 8px;
}

.sidebar p {
  margin: 8px 0;
  color: #ced4da;
}

.sidebar .icon {
  margin-right: 8px;
  color: #6c757d;
}

.experience {
  margin-bottom: 30px;
}

.experience h3 {
  margin-bottom: 2px; 
  color: #343a40;
}

.date {
  font-style: italic;
  color: #6c757d;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

ul {
  list-style-type: square;
  padding-left: 25px;
}

.header {
  padding: 20px;
}

.header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #007bff;
  margin-bottom: 20px;
}

.header h1 {
  color: #343a40;
  font-size: 3em;
  margin: 0;
  text-align: center;
  width: 100%;
  letter-spacing: 1.5px;
}

/* Custom divider */
.divider {
  text-align: center;
  margin: 30px 0;
}

.divider svg {
  width: 150px;
  height: auto;
}

.header-name {
  text-align: center;
  padding: 30px 20px;
  background-color: #343a40;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.header-name h1 {
  font-size: 3.5em;
  margin: 0;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.header-name h1:hover {
  transform: scale(1.05);
}