*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: #626F47;
    position: relative;
    isolation: isolate;
    width: 100vw;
    height: 100vh;
}


.content-wrapper {
    position: absolute; /* Ensures it's above the background */
    z-index: 2; /* Higher than background-container */
    background-color: #626F47;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    border: 3px solid #FFCF50;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.success-message {
    background-color: #f0f0f0;
    color: #626F47;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    max-height: 120px;
}

.success-message h2 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-style: italic;
    font-family: initial;
}

.success-message p {
    font-size: 18px;
    font-style: italic;
    font-family: initial;
    margin-top: -18px;
}

.form-controls {
    text-align: center;
}
.form-controls button {
    background-color: #FFCF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    display: inline-block; /* Ensures buttons are aligned next to each other if needed */
    text-align: center; /* Centers the text */
    margin: 5px; /* Optional, space between buttons */
}

.form-controls button:hover {
    background-color: #FBA518;
}
.back-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #FBA518;
    text-decoration: none;
}
.back-link:hover {
    text-decoration: underline;
}

/* Added particles-js styling */
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
